body {
    margin: 0;
    padding: 0;
    background-image: url(./image/bg.jpg);
    background-size: cover;
}

.logo {
    padding-top: 4px;
    float: left;
}

.logo img {
    width: auto;
    height: 89px;
    padding-top: 7px;
    padding-left: 17px;
}